/*COLORS:*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  box-sizing: border-box;
  padding: 3rem;
  color: #777; }

.header {
  height: 95vh;
  background-position: top;
  background-size: cover;
  background-image: linear-gradient(to right, #7ed56fb0, #28b485b0), url("../img/hero.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  background-color: #eee; }
  .header .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header .logo-box .logo {
      width: 8rem; }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header .text-box .primary-text {
      display: block;
      color: white;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 2.55rem;
      text-transform: uppercase;
      animation-name: moveFromLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
    .header .text-box .secondary-text {
      display: block;
      color: white;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.4rem;
      text-transform: uppercase;
      animation: moveFromRight 1s ease-in; }

.about {
  background-color: #eee;
  margin-top: -150px;
  height: 800px; }
  .about .heading-container {
    padding-top: 22vh;
    text-align: center; }
    .about .heading-container h2 {
      background-image: linear-gradient(to right, #55c57a, #28b485);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: transform 0.2s; }
      .about .heading-container h2:hover {
        transform: skewX(15deg) skewY(2deg) scale(1.1); }
  .about .container {
    max-width: 110rem;
    height: 35rem;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-wrap: wrap; }
    .about .container .left {
      width: 55rem;
      height: 35rem;
      margin-left: 2rem; }
      .about .container .left h3 {
        margin-bottom: 1rem;
        color: black; }
      .about .container .left p {
        color: black; }
      .about .container .left .second {
        margin-bottom: 1rem; }
      .about .container .left a {
        color: #55c57a;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid #55c57a;
        text-decoration: none;
        text-align: center;
        transition: all 0.2s; }
        .about .container .left a:hover {
          background-color: #55c57a;
          color: white;
          transform: translateY(-4px);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
        .about .container .left a:active {
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem black; }
    .about .container .right {
      width: 45rem;
      height: 35rem;
      position: relative;
      margin-left: 4rem; }
      .about .container .right .img {
        width: 55%;
        box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
        border-radius: 2px; }
        .about .container .right .img:hover {
          transform: scale(1.1);
          outline: 1rem solid #7ed56f;
          outline-offset: 1rem;
          box-shadow: 0 2.5rem 1rem rgba(0, 0, 0, 0.6); }
      .about .container .right:hover img:not(:hover) {
        transform: scale(0.95); }
      .about .container .right .one {
        position: absolute;
        top: -2px; }
      .about .container .right .two {
        position: absolute;
        top: 5rem;
        left: 22rem; }
      .about .container .right .three {
        position: absolute;
        top: 13rem;
        left: 11rem; }

.btn:link,
.btn:visited,
.btn {
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2.5rem;
  transition: all 0.4s; }

.btn:hover {
  box-shadow: 0 10px 10px black;
  transform: translateY(-3px); }

.btn:active,
.btn:focus {
  box-shadow: 0 5px 5px black;
  transform: translateY(-1px); }

.btn-white {
  background-color: white;
  color: gray;
  position: relative;
  font-size: 1.6rem; }

.btn-green {
  background-color: #28b485;
  color: white;
  position: relative;
  font-size: 1.6rem;
  border: none;
  outline-style: none; }

.btn-green::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #28b485;
  z-index: -1;
  border-radius: 50px;
  transition: all 1s; }

.btn-animated {
  animation: moveFromBottom 0.5s ease-in 0.75s;
  animation-fill-mode: backwards; }

.btn-white::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -1;
  border-radius: 50px;
  transition: all 1s; }

.btn:hover::after {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0; }

.tours {
  padding-top: 18rem;
  padding-bottom: 10rem;
  background-color: #eee;
  text-align: center;
  margin-top: -10rem; }
  .tours h2 {
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.2s;
    display: inline-block;
    margin-bottom: 4rem; }
    .tours h2:hover {
      transform: skewX(15deg) skewY(2deg) scale(1.1); }
  .tours .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5rem; }
  .tours .card-box {
    height: 48rem;
    width: 32rem;
    perspective: 150rem; }
  .tours .card-box:hover .front {
    transform: rotateY(-180deg); }
  .tours .card-box:hover .back {
    transform: rotateY(0deg); }
  .tours .card {
    height: 48rem;
    width: 32rem;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: transform 0.8s;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.747); }
  .tours .back {
    transform: rotateY(180deg); }
  .tours .front {
    background-color: white; }
    .tours .front .img {
      height: 23rem;
      background-size: cover;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      position: relative;
      text-align: right; }
    .tours .front h4 span {
      position: absolute;
      top: 18rem;
      right: 2rem;
      font-size: 2rem;
      font-weight: 400;
      color: white;
      background-image: linear-gradient(to right, #ffb900, #ff7730);
      text-transform: uppercase;
      padding: 0.5rem; }
    .tours .front h4 .sea {
      position: absolute;
      top: 14rem;
      right: 2rem; }
    .tours .front .list ul {
      list-style: none; }
      .tours .front .list ul li {
        border-bottom: 1px solid #eee;
        width: 80%;
        margin: 0 auto;
        padding: 1rem; }
      .tours .front .list ul .last {
        border: none; }
  .tours .card-1-front .img {
    background-image: linear-gradient(to right, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
  .tours .card-2-front .img {
    background-image: linear-gradient(to right, #55c57a, #28b485), url("../img/nat-6.jpg"); }
  .tours .card-3-front .img {
    background-image: linear-gradient(to right, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .tours .card-2-front h4 span {
    background-image: linear-gradient(to right, #55c57a, #28b485); }
  .tours .card-3-front h4 span {
    background-image: linear-gradient(to right, #2998ff, #5643fa); }
  .tours .card-1-back {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .tours .card-2-back {
    background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
  .tours .card-3-back {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .tours .card-price-box {
    text-align: center;
    color: white;
    margin: 5rem auto; }
    .tours .card-price-box .card-price {
      font-size: 5rem; }
    .tours .card-price-box .card-only {
      text-transform: uppercase; }

.features {
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.5), rgba(40, 180, 133, 0.6)), url("../img/nat-4.jpg");
  background-size: cover;
  height: 90vh;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .features > * {
    transform: skewY(7deg); }
  .features .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 32rem;
    margin: auto;
    padding-top: 15rem; }
    .features .row .feature-box {
      color: black;
      background-color: #eee;
      width: 28rem;
      height: 32rem;
      text-align: center;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.712);
      transition: transform 0.3s;
      border-radius: 3px; }
      .features .row .feature-box:hover {
        transform: translateY(-1.5rem) scale(1.05);
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.788); }
      .features .row .feature-box i {
        font-size: 7rem;
        background-image: linear-gradient(to right, #55c57a, #28b485);
        color: transparent;
        -webkit-background-clip: text;
        padding: 2rem; }
      .features .row .feature-box h3 {
        padding: 1rem; }
      .features .row .feature-box p {
        padding: 1rem; }

.stories {
  padding: 8rem 0;
  position: relative; }
  .stories .video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    .stories .video-container .background-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.20; }
  .stories .heading-box {
    text-align: center; }
  .stories h2 {
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.2s;
    display: inline-block;
    margin-bottom: 4rem;
    text-align: center; }
    .stories h2:hover {
      transform: skewX(15deg) skewY(2deg) scale(1.1); }
  .stories .row {
    margin: 0 auto; }
    .stories .row .story {
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.671);
      padding: 4rem 5rem;
      width: 65%;
      transform: skewX(-15deg);
      backface-visibility: hidden;
      margin-bottom: 8rem; }
      .stories .row .story > * {
        transform: skewX(15deg); }
      .stories .row .story:hover .caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        backface-visibility: hidden; }
      .stories .row .story:hover img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px);
        backface-visibility: hidden; }
    .stories .row .figure {
      width: 16rem;
      height: 16rem;
      clip-path: circle(50%);
      float: left;
      shape-outside: circle(50%);
      position: relative; }
      .stories .row .figure img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all 0.5s; }
      .stories .row .figure .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: white;
        font-size: 1.7rem;
        font-weight: 400;
        text-align: center;
        opacity: 0;
        transition: all 0.5s; }
    .stories .row .story-text {
      height: 16rem;
      transform: translateX(3rem); }
  .stories .link-container {
    text-align: center; }
  .stories a {
    color: #55c57a;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #55c57a;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    border-radius: 3px; }
    .stories a:hover {
      background-color: #55c57a;
      color: white;
      transform: translateY(-4px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .stories a:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem black; }

.booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right, #55c57a, #28b485); }
  .booking h2 {
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.2s;
    display: inline-block;
    margin-bottom: 4rem;
    text-align: center; }
    .booking h2:hover {
      transform: skewX(15deg) skewY(2deg) scale(1.1); }
  .booking .form-container {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/nat-10.jpg);
    height: 50rem;
    width: 70%;
    background-size: cover;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.356);
    padding: 4rem; }
    .booking .form-container form {
      width: 50%; }
  .booking .input-container {
    margin-bottom: 2rem; }
    .booking .input-container input {
      display: block;
      width: 90%;
      padding: 1.5rem 2rem;
      font-size: 1.5rem;
      font-family: inherit;
      border: none;
      border-bottom: 3px solid transparent;
      transition: all 1s; }
      .booking .input-container input:focus {
        border: none;
        border-bottom: 3px solid #28b485;
        outline-style: none; }
        .booking .input-container input:focus:invalid {
          border-bottom: 3px solid #ff7730; }
      .booking .input-container input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem); }
    .booking .input-container label {
      font-size: 1.5rem;
      margin-left: 2rem;
      padding-top: 1rem;
      display: block;
      transition: all 0.4s; }
  .booking .radio-container {
    display: inline-block;
    width: 47%; }
    .booking .radio-container input {
      display: none; }
    .booking .radio-container input:checked ~ span::after {
      opacity: 1; }
    .booking .radio-container label {
      padding-left: 2rem; }
    .booking .radio-container span {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      border: 4px solid #28b485;
      display: inline-block;
      color: transparent;
      position: relative; }
      .booking .radio-container span::after {
        content: "";
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border-radius: 50%;
        background-color: #28b485;
        position: absolute;
        top: 27%;
        left: 27%;
        opacity: 0; }

.footer {
  padding: 10rem 0;
  background-color: #3b3535; }
  .footer .logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    .footer .logo-box img {
      width: 15rem; }
  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer .navigation {
    width: 35%;
    margin-left: 5rem;
    border-top: 1px solid #eee; }
    .footer .navigation ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      padding-top: 1rem; }
    .footer .navigation li {
      list-style: none;
      text-align: center;
      transition: all 0.3s; }
      .footer .navigation li:hover {
        transform: rotate(5deg) scale(1.5); }
      .footer .navigation li:hover a {
        color: #55c57a;
        background-color: #3b3535;
        border: 1px solid #333232; }
    .footer .navigation a {
      text-decoration: none;
      color: #eee; }
  .footer .copyright {
    width: 40%;
    margin-right: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    display: inline-block;
    text-align: justify; }

.section-navigation .checkbox {
  display: none; }

.section-navigation .checkbox-label {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 100;
  text-align: center;
  cursor: pointer; }
  .section-navigation .checkbox-label:hover .rule::after {
    top: 1.4rem; }
  .section-navigation .checkbox-label:hover .rule::before {
    top: -1.4rem; }
  .section-navigation .checkbox-label .rule {
    position: relative;
    margin-top: 3.5rem; }
    .section-navigation .checkbox-label .rule, .section-navigation .checkbox-label .rule::before, .section-navigation .checkbox-label .rule::after {
      width: 4rem;
      background-color: black;
      height: 0.1rem;
      display: inline-block;
      transition: all 0.3s; }
    .section-navigation .checkbox-label .rule::before, .section-navigation .checkbox-label .rule::after {
      content: " ";
      margin: 0 auto; }
    .section-navigation .checkbox-label .rule::before {
      position: absolute;
      top: -1rem;
      left: 0; }
    .section-navigation .checkbox-label .rule::after {
      position: absolute;
      top: 1rem;
      left: 0; }

.section-navigation .checkbox-background {
  background-image: radial-gradient(#55c57a, #28b485);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 50;
  transition: transform 0.7s; }

.section-navigation .nav {
  display: none;
  height: 100vh;
  width: 100%;
  z-index: 75;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.7s ease-in-out; }
  .section-navigation .nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .section-navigation .nav ul li {
      display: block;
      list-style: none; }
    .section-navigation .nav ul a:link, .section-navigation .nav ul a:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 2rem;
      color: white;
      font-family: inherit;
      text-transform: uppercase;
      padding: 1rem 2rem;
      margin: 0.5rem;
      transition: all 0.5s;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      background-size: 230%;
      border-radius: 3px; }
    .section-navigation .nav ul a:active, .section-navigation .nav ul a:hover {
      color: #7ed56f;
      background-position: 100%;
      transform: translateX(1rem); }
    .section-navigation .nav ul span {
      margin-right: 1.5rem; }

.section-navigation .checkbox:checked ~ .checkbox-background {
  transform: scale(100); }

.section-navigation .checkbox:checked ~ .nav {
  display: block; }

.section-navigation .checkbox:checked + .checkbox-label .rule {
  background-color: transparent; }

.section-navigation .checkbox:checked ~ .checkbox-label .rule::before {
  top: 0;
  transform: rotate(135deg); }

.section-navigation .checkbox:checked ~ .checkbox-label .rule::after {
  top: 0;
  transform: rotate(-135deg); }
